body {
  background-color: #f7f7f7;
}

.level2 {
  text-align: center;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  padding: 40px;
}

.logos img {
  width: 10%;
  height: 10%;
}

footer {
  background-color: #C2E6F4;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

footer input {
  border: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

footer p {
  margin: 30px;
}

.submit {
  background-color: #F37474;
  color: #fff;
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  margin: 20px;
}

.level3 {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.info {
  width: 250px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 80%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  background-color: #2ACFCE;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.timeline {
  font-weight: 300;
  font-size: .8em;
  margin: 20px 0;
}


